body {
    color: white !important;
}

.pesquisa {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}


.cardFilmes {
    margin: 1%;
    text-align: center;
    border: solid 1px grey;
    width: 22%;  
    border-radius: 10px;
    background-color: rgba(34, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px; 
    padding: 10px;  
}

.filmes {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: center;
    width: 100%;
}

.nomeFilme h3 {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10px;
    font-size: 1.2em;  
    margin-bottom: 10px;
}

.imagem img {
    width: 100%;  
    height: auto;
    border-radius: 5px;
}

.descricao {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;  
}

.nota {
    margin-bottom: 10px;
    font-size: 1em;
}

.filmator {
    margin-top: 2%;
    font-family: 'Bebas Neue', sans-serif;
    color: red;
    font-weight: 800;
}
